In [ ]:
# ! pip install --user pandas
# ! pip install Jinja2

# IMDB - Top 1000 IMDb Movies Dataset
fonte: https://www.kaggle.com/datasets/inductiveanks/top-1000-imdb-movies-dataset?resource=download

In [24]:
import pandas as pd
from IPython.display import display

In [3]:
df = pd.read_csv('./data/Top_1000_IMDb_movies_New_version.csv ')
df.head()

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of movie,Gross,Votes,Description
0,0,The Shawshank Redemption,1994,142,9.3,82.0,28.34,"27,77,378","Over the course of several years, two convicts..."
1,1,The Godfather,1972,175,9.2,100.0,134.97,"19,33,588","Don Vito Corleone, head of a mafia family, dec..."
2,2,The Dark Knight,2008,152,9.0,84.0,534.86,"27,54,087",When the menace known as the Joker wreaks havo...
3,3,Schindler's List,1993,195,9.0,95.0,96.9,"13,97,886","In German-occupied Poland during World War II,..."
4,4,12 Angry Men,1957,96,9.0,97.0,4.36,"8,24,211",The jury in a New York City murder trial is fr...

# dados b√°sicos do arquivo

In [12]:
quantidade_registros = len(df)
valor_minimo = df['Movie Rating'].min()
valor_maximo = df['Movie Rating'].max()

df_resumo = pd.DataFrame({'Registros':[quantidade_registros],
                          'Colunas':[df.shape[1]], 
                          'Menor nota': [valor_minimo], 
                          'Maior nota': [valor_maximo]})
df_resumo

   Registros  Colunas  Menor nota  Maior nota
0       1000        9         7.6         9.3

In [5]:
# tratando dados

## Quantidade por Notas

In [37]:
contagem_rating = df['Movie Rating'].value_counts()
contagem_rating = contagem_rating.sort_index(ascending=True)
contagem_rating

7.6     70
7.7    173
7.8    159
7.9    126
8.0    128
8.1    135
8.2     69
8.3     49
8.4     31
8.5     22
8.6     13
8.7      8
8.8      8
8.9      2
9.0      5
9.2      1
9.3      1
Name: Movie Rating, dtype: int64

## Quantidade por ano

In [43]:
contagem_rating = df['Year of Release'].value_counts()
contagem_rating = contagem_rating.sort_values(ascending=False).head(20)
display(contagem_rating)

2014    28
2004    28
2013    26
2009    25
2001    25
2019    25
2007    24
2016    24
2012    23
2006    22
1993    21
2003    20
2010    19
1997    19
2018    19
2000    18
2008    18
2015    17
1999    17
2005    16
Name: Year of Release, dtype: int64

In [30]:
def highlight_(val):    
    color = ''
    if val >= 9:
        color = 'background-color:yellow'
    elif val > 8:
        color = 'background-color:lightyellow'
    elif val > 7:
        color = 'background-color:limeyellow'
    elif val >= 6:
        color = 'background-color:paleyellow'
    return color

  
df_styled = df.style.applymap(highlight_, subset=['Movie Rating'])

# display(df_styled)

## TOP 10 melhores avaliados

In [26]:
top_10_melhores_ratings = df.sort_values(by='Movie Rating', ascending=False).head(10)
top_10_melhores_ratings = top_10_melhores_ratings[['Movie Name', 'Year of Release', 'Movie Rating']]

# print(top_10_melhores_ratings)


display(top_10_melhores_ratings)

,Movie Name,Year of Release,Movie Rating
0,The Shawshank Redemption,1994,9.3
1,The Godfather,1972,9.2
2,The Dark Knight,2008,9.0
3,Schindler's List,1993,9.0
4,12 Angry Men,1957,9.0
5,The Lord of the Rings: The Return of the King,2003,9.0
6,The Godfather Part II,1974,9.0
7,Spider-Man: Across the Spider-Verse,2023,8.9
8,Pulp Fiction,1994,8.9
13,"Il buono, il brutto, il cattivo",1966,8.8